<a href="https://colab.research.google.com/github/parriwi/skills-introduction-to-github/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: load an sql database from a local folder and display the structure

import sqlite3
import pandas as pd

# Replace 'your_database.db' with the actual name of your database file
database_file = 'stock_hist.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_file)

# Get a list of all tables in the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the structure of each table
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")

    # Get table schema
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()

    # Print column information
    for column in columns:
        print(f"  Column: {column[1]} ({column[2]})")

    # Display the first few rows of data (optional)
    print("First few rows:")
    df = pd.read_sql_query(f"SELECT * FROM {table_name} LIMIT 5", conn)
    print(df)
    print("-" * 20)

# Close the database connection
conn.close()